* {
    margin: 0;
    padding: 0;
    border: 0;
    /*box-sizing: border-box;*/
}

html {
    /*font-size: 100%;*/
    /*overflow: hidden;*/
    /*overflow: hidden;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
}

body {
    overflow-y: auto;
    line-height: 1.61;
    color: #333;
    background: #fff;
    max-width: 720px;
    min-width: 360px;
    min-height: 100vh;
    margin: 0 auto;
}

/*-------------------------------------*/

header {
    min-height: 70px;
    color: #C90B0B;
}

header img {
    border-radius: 40px;
    float: left;
    width: 70px;
    height: 70px;
}

header p {
}

header p span {
}

/*-------------------------------*/

.container {

    /*height: 80%;*/
}

.container_hero {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    /*height: 30%;*/
    overflow-y: auto;
}


.container_content {

    /*height: 70%;*/
}

.container_content > ul {

    /*height: 95%;*/
    list-style: none;
}

.container_content > ul > li {
    min-height: 50px;
    clear: both;
}

.container_content_li_left {
    width: 30%;
    float: left;
}

.container_content_li_left picture img {
    width: 100px;
    height: 50px;
}

.container_content_li_right {
    width: 70%;
    float: right;
}

.container_content_li_right a {

    height: 50%;
}

.container_content_li_right p {

    height: 50%;
}

/*------------------------------------------*/
footer {
    clear: both;
    height: 5%;
    border-top: 1px solid #ccc;
}

footer span {
    float: right;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
    .container_content > ul > li {

        flex-direction: column;
    }

    .container_content_li_right {

    }
}
