* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
}

body {
    overflow-y: auto;
    line-height: 1.61;
    color: #333;
    background: #fff;
    max-width: 960px;
    min-width: 360px;
    /*min-height: 100vh;*/
    margin: 0 auto;
    padding: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

/*-------------------------------------*/

header{
    color: #C90B0B;
    display: grid;
    grid-template-columns: minmax(70px, 74px) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}
header picture {
    grid-area: a;
    margin-bottom: 10px;
}
header picture img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.header_name{
    grid-area: b;
    display: inline-block;
}
.header_job{
    grid-area: c;
    display: inline-block;
}

/*-------------------------------*/

.container {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.hero {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    /*height: 30%;*/
    overflow-y: auto;
}


.content {
    margin-top: 10px;
}

.content > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content > ul > li {
    min-height: 50px;
    display: grid;
    grid-template-columns: minmax(100px, 120px) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

li picture {
    grid-area: a;
    height: 70px;
}
li picture img{
    width: 100px;
    height: 50px;
}

li a {
    grid-area: b;
}

li p {
    grid-area: c;
}

/*------------------------------------------*/
footer {
    border-top: 1px solid #ccc;
}

footer span {
    display: block;
    min-width: 100%;
    min-height: 10px;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 540px) {
    .content ul li {
        display: grid;
        grid-template-rows: minmax(70px, 70px) 1fr 2fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "a"
        "b"
        "c"
        "c";
    }

    li picture {
        grid-area: a;
    }

    li a {
        grid-area: b;
    }

    li p {
        grid-area: c;
    }
}
